
<div class="row text-center">
  <%= image_tag("whale_hello_there.gif") %>
</div>
<div class="row text-center">
  <br> <br> <br>
  <%= link_to 'Sign in with Your Gmail Account', signin_path, class: "btn btn-lg btn-primary" %>
</div>
